<section id="about"
    class="min-h-[90vh] pt-12 bg-gradient-to-b from-white to-gray-100/20 dark:from-grey-900 dark:to-grey-900 dark:text-white">
    <h2 class="text-4xl text-center">About Me</h2>

    <div
        class="w-full lg:w-11/12 2xl:w-4/5 mt-2 lg:mt-20 mx-auto flex flex-col md:gap-4 lg:flex-row justify-between items-center">
        <div
            class="p-3 w-56 self-start md:w-2/5 lg:w-72 bg-white dark:bg-grey-800 flex flex-col gap-2 items-center rounded-2xl mx-auto lg:mx-16 hover:-translate-y-2 transition-transform duration-300 lg:-rotate-3">
            <img width="1000" height="1000" src="{{about.aboutImage}}" alt="profile shubham kumar"
                class="w-full h-60 md:h-80 rounded-2xl object-cover grayscale hover:grayscale-0 transition-all bg-violet-100">
            <span class="font-medium font-sans">{{about.aboutImageCaption || "Shubham Kumar"}} </span>
        </div>

        <div class="flex-1 text-left mx-4 mt-4 md:mt-0 md:mx-0 md:p-6">
            <div class="flex flex-col gap-2.5">
                <p class="text-3xl font-semibold">{{name}}</p>
                <p
                    class='text-violet-800 w-fit rounded py-1 px-2 text-sm dark:text-violet-600 bg-violet-50 dark:bg-violet-900/10'>
                    {{about.title}}</p>
                <p class="text-sm md:text-base my-2 text-gray-600 dark:text-gray-300 ">{{about.about}}</p>
                <div class="flex items-center gap-4 md:mt-4">
                    <a href="{{about.resumeUrl}}" *ngIf="about.resumeUrl.trim()" target="_blank"
                        class="text-sm md:text-base bg-violet-600  text-white w-fit rounded-md py-2 px-6 hover:shadow-xl transition-shadow dark:bg-violet-700">Resume</a>
                    <a href="{{about.callUrl}}" *ngIf="about.callUrl.trim()" target="_blank"
                        class="text-violet-600 flex items-center gap-1 hover:bg-violet-50 hover:dark:bg-violet-900/10 py-2 px-4 transition-colors rounded-md1">
                        Book a 1:1 call
                        <span>
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path>
                                <path
                                    d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z">
                                </path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>