<section id="projects"
    class="mx-4 md:mx-0 min-h-screen bg-gradient-to-b from-white to-gray-100/20 dark:from-grey-900 dark:to-grey-900 dark:text-white ">
    <h2 class="text-4xl text-center">Projects</h2>

    <div
        class="overflow-x-auto scroll-hide md:w-full max-w-screen-sm mx-auto mt-6 flex justify-between items-center gap-2 md:gap-3 bg-white dark:bg-grey-800 p-2 rounded-md">
        <span *ngFor="let c of categories; let i=index"
            class="p-1.5 md:p-2 w-full text-sm md:text-base text-center capitalize rounded-md"
            [ngClass]="{'bg-violet-600 dark:bg-violet-600 text-white ': category.toLowerCase() === c.toLowerCase(), 'dark:bg-grey-800 hover:bg-gray-100 hover:dark:bg-grey-900 cursor-pointer transition-all': category.toLowerCase() !== c.toLowerCase()}  "
            (click)="filterProjects(c)">
            {{ c }}
        </span>
    </div>

    <div
        class="md:mx-6 lg:mx-auto lg:w-5/6 2xl:w-3/4 my-4 md:my-8 mx-auto grid md:grid-cols-2 xl:grid-cols-3 gap-4 md:gap-10">
        <app-project-card
            *ngFor="let p of filteredProjects.slice(0, viewAll ? filteredProjects.length : 6); let i = index"
            [project]="p"></app-project-card>
    </div>

    <div *ngIf="filteredProjects.length > 6">
        <div class="bg-white dark:bg-grey-800 w-4/5 mx-auto blur-xl z-20 -translate-y-14 h-16"></div>
        <div class="text-center -translate-y-24">
            <button (click)="viewAllClick()"
                class="bg-violet-600 text-white px-4 {{ !viewAll ? 'animate-bounce' : 'animate-none' }} py-1.5 rounded-md hover:shadow-xl transition-all">{{
                viewAll ? 'Okay, I got it' : 'View All' }}</button>
        </div>
    </div>

</section>