/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  font-family: poppins;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
    font-family: "Poppins", sans-serif;
  } */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6565656a;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
